

body{
	background: green;
	font-size: 15px;
	color: black;
}

section{
	
	float: left;
}
aside{
	
	float: right;
}

table, th,td{
	border: 1px solid black;
	border-collapse:separate;
	border-spacing:5px;
	text-align:center;
}

.field{
	width: 190px;
	height: 190px;
	background-color:BurlyWood;
	border-width:5px;
	border-color:BurlyWood;
}

.gekauft{
}
.harvestable{
	outline: 5px solid Chartreuse;
	outline-offset:-10px;
}
.selected{
	border-color: red;
	border-width:5px;
}

.locked{
	background-position:center;
	background-image: url("bilder/lock.png");
}

.shop_info{
	float: right;
}

.hide{
	opacity: 0;
}

.button {
	
	font-size: 15px;
	font-weight: bold;
	text-align:center;
}

.green{
	background-color:Chartreuse;
}

.blue{
	background-color:DarkSeaGreen;
}